# Node.js dependencies
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor Directories and Files
.vscode/
.idea/
.DS_Store
*.swp

# Build and Output
dist/
out/
build/
.cache/
.next/
.nuxt/
*.log
*.gz
*.map

# Testing and Coverage
coverage/
*.lcov
.jest/

# React and JSX-Specific Files
*.jsx~
*.jsx.tmp
*.tsx~
*.tsx.tmp

# Static Files and Assets
public/static/
static/
*.png
*.jpg
*.jpeg
*.gif
*.svg

# Misc
npm-debug.log*
node_modules/
