.container{
  display: flex; /* or inline-flex */
  padding-top: 20px;

}


#menu{
background: #bbdefb;
height: 97vh;
width: 40%;

}

#nodeBackground{
  background:#bbdefb ;
  height:20px;
  width: 100%;
  top: 0;
}
