.App{
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: #e7e6e6;
  z-index: 0;
}

#menu{
position: absolute;
top: 0; left: 0; right: 0; bottom: 0;
z-index: 0;
width: 24%;
background: #ffffff;
}
